.jogos-noticias {
  display: flex;
  gap: 80px;
  max-width: 100%;
  padding: 10px;
}

.conteudo-noticias {
  flex-grow: 1;
}

.titulo-noticias {
  margin-top: 0;
  text-align: center;
  color: #f7f7f7;
  font-size: 2rem;
  padding: 2px 5px;
  background-color: #131a2e13;
}

.card-noticias {
  margin: 0 auto;
  width: 60%;
  max-width: 1600px;
  background: #1e293b;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  transition: 0.3s;
}

.card-noticias img {
  width: 60%;
  height: 100%;
}

.card-noticias:hover {
  transform: translateY(-8px);
  transition: 0.2s;
}

.texto-noticias {
  padding: 20px;
  flex-grow: 1;
  text-align: justify;
}

.texto-noticias h2 {
  font-size: 2rem;
  margin-top: 0;
  white-space: normal;
  color: yellow;
}

.texto-noticias p {
  font-size: 1.6rem;
  color: aliceblue;
  white-space: normal;
}
